<table class="movie-container">
<tr>	

	<td class="movie-image-container">
        <%= image_tag movie.photo.url(:thumb) %>
	</td>


	<td class="each_movie_info">
		<div class="each-movie-content">  
		  <%= link_to movie.name, movie, class: "movie_name" %>
		  </br><small>Release date: <%= movie.release_date.strftime("%B %d, %Y") %></small>
		  </br><small>Directed by: <%= movie.director %>  </small>
		  </br><small><%= pluralize(movie.reviews.count, "review") %></small>
		</div>
		<div class="movie-admin">
			<% if signed_in? && current_user.admin? %>
		    <%= link_to "Delete", movie, method: :delete, data: { confirm: "You sure?" } %>
		    | <%= link_to "Edit", edit_movie_path(movie.id) %>
		  	<% end %>
		</div>

	</td>

</tr>
</table>