<div class="movie-heading">
  <div id="movie_title"> <%= @movie.name %></div> 
  <div class="movie-admin">  <% if signed_in? && current_user.admin? %>
      <%= link_to "Delete", @movie, method: :delete, data: { confirm: "You sure?" } %>
      | <%= link_to "Edit", edit_movie_path(@movie.id) %>
    <% end %>
  </div>
</div>

<div class="movie-table-container">
<table class="movie_table">
  <colgroup>
    <col span="1" style="width: 30%;">
    <col span="1" style="width: 70%;">
  </colgroup>
  <tbody>
    <tr>
      <th>
        <%= image_tag(@movie.photo.url(), height: '317', width: '214') %>
      </th>
      <td>
        <table class="table movie_table">
          <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 80%;">
          </colgroup>
          <tbody>
            <tr class="movie-table-left">
                <th>Cast</th>
                <td><%= @movie.cast %></td>
            </tr>
            <tr class="active">
                <th>Director</th>
                <td><%= @movie.director %></td>
            </tr>
            <tr class="active">
                <th>Release Date</th>
                <td><%= @movie.release_date %></td>
            </tr>
            <tr class="active">
                <th>Info</th>
                <td><%= @movie.info %></td>
            </tr>
            <tr class="active">
                <th>Rating</th>
                <td>
                  <div id="rating-value-div">
                    <% if @movie.total_votes == 0 %>
                        Not Rated
                    <% else %>
                        <%= ((@movie.total_rating.to_f / (@movie.total_votes)) * 10).round / 10.0 %> 
                        (Based on 
                        <%= @movie.total_votes %> vote)
                    <% end %>
                  </div>
                </td>
            </tr>
            <tr class="active">
                <th>IMDB Rating</th>
                <td><%= @movie_imdb_rating %></td>
            </tr>
        

          </tbody>
        </table>
        <td>
    </tr>

  </tbody>
</table>
</div>
