<table class="table movie_table">
    <tbody>
        <tr class="active">
            <th>Name</th>
            <th><%= @movie.name %></th>
        </tr>
        <tr class="active">
            <th>Cast</th>
            <th><%= @movie.cast %></th>
        </tr>
        <tr class="active">
            <th>Director</th>
            <th><%= @movie.director %></th>
        </tr>
        <tr class="active">
            <th>Info</th>
            <th><%= @movie.info %></th>
        </tr>
        <tr class="active">
            <th>Release Date</th>
            <th><%= @movie.release_date %></th>
        </tr>
    </tbody>
</table>

