

<% if signed_in? %>
  <div class="review-watchlist-bar">
    <%= render 'watch_movies_form' %>
    <%= render 'rating_form' %>
  </div>
<% else %>
    <%= link_to "Sign in", signin_path %> to rate movie.
<% end %>

<%= render 'movie_description' %>


<% if signed_in? %>
    <section>
        <%= render 'shared/review_form' %>
    </section>
<% end %>

<% if @movie.reviews.any? %>
  <h3>Reviews (<%= @movie.reviews.count %>)</h3>
  <ol class="review">
    <%= render @movie.reviews %>
  </ol>
<% end %>